<section class="header-section">
  <h1 class="title is-1 has-text-centered">Todo App</h1>
</section>
<div class="container">
  <div class="add-new-task-box">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <h2 class="title is-5">Add new task</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input
            ngModel
            required
            name="todoText"
            class="input"
            type="text"
            placeholder="Add new task"
          />
        </p>
        <p class="control">
          <button type="submit" class="button is-info">Add</button>
        </p>
      </div>
    </form>
  </div>
</div>
<section>
  <div class="container">
    <div class="task-list">
      <app-todo-item
        *ngFor="let task of tasks"
        [task]="task"
        (taskClicked)="toggleTaskCompleted(task)"
        (deleteTaskClicked)="removeTask(task)"
      ></app-todo-item>
    </div>
  </div>
</section>
